.AddDataset {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}

.AddDataset .startAction {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: -20px;
  padding: 20px;
}
.AddDataset .startAction:hover .addText {
  color: rgba(255, 255, 255, 1);
}
.AddDataset .startAction:hover .icon {
  background-color: rgba(255, 255, 255, 1);
}
.AddDataset .startAction .addText {
  color: rgba(255, 255, 255, 0.5);
}
.AddDataset .startAction > div {
  margin: 0 10px;
}

.AddDataset .iconAdd {
  mask-image: url(../images/add_circle_outline.svg);
}
.AddDataset .iconUpload {
  mask-image: url(../images/cloud_upload.svg);
  margin-bottom: 10px;
}
.AddDataset .iconClose {
  mask-image: url(../images/close.svg);
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 1;
}
.AddDataset .iconClose:hover {
  background: rgba(255, 255, 255, 1);
}
.AddDataset .iconCheck {
  mask-image: url(../images/check_box_outline_blank.svg);
  background: rgba(255, 255, 255, 0.5);
  vertical-align: -6px;
  margin-right: 10px;
}
.AddDataset .iconChecked {
  mask-image: url(../images/check_box.svg);
  background: rgba(255, 255, 255, 1);
  vertical-align: -6px;
  margin-right: 10px;
}
.AddDataset .iconDelete {
  mask-image: url(../images/delete.svg);
  background: rgba(255, 255, 255, 1);
  vertical-align: -6px;
  margin-right: 10px;
}

.AddDataset .createDataset {
  position: relative;
}
.AddDataset .createDataset > div {
  position: relative;
  padding-top: 1px;
}

.AddDataset .createDataset .dropzone {
  background: rgba(255, 255, 255, 0.05);
  text-align: center;
  padding: 60px;
  border: 2px dashed rgba(255, 255, 255, 0.2);
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}
.AddDataset .createDataset .dropzone:hover {
  color: #fff;
}
.AddDataset .createDataset .dropzone:hover .icon {
  background-color: #fff;
}
.AddDataset .createDataset .dropzoneActive {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.AddDataset .createDataset .dropzoneActive .icon {
  background-color: #fff;
}
.AddDataset .createDataset .uploading {
  text-align: center
}
.AddDataset .createDataset .uploading img {
  margin-bottom: 20px;
}
.AddDataset .createDataset .uploading p {
  margin-bottom: 0;
}
.AddDataset .createDataset .error {
  color: #fff;
  padding: 10px;
  background: rgba(255,0,25,0.3);
  text-align: center;
  font-size: 14px;
}

.AddDataset .createDataset .enterMetadata .datasetName {
  margin: 0 0 40px 40px;
  font-size: 22px;
  padding: 4px 6px;
  width: 400px;
}
.AddDataset .createDataset .enterMetadata .pickFields {
  margin-bottom: 40px;
}
.AddDataset .createDataset .enterMetadata li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 14px;
}
.AddDataset .createDataset .enterMetadata .pickFields li .clickArea {
  cursor: pointer;
}
.AddDataset .createDataset .enterMetadata .pickFields li .example {
  font-size: 10px;
  color: rgba(255,255,255,0.5);
  margin-left: 10px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: -3px;
}

.AddDataset .createDataset .enterMetadata .pickFields li .clickArea:hover .icon {
  background-color: #fff;
}

.AddDataset .createDataset .enterMetadata .pickFields li .shortcut {
  margin: 5px 0 0 45px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}
.AddDataset .createDataset .enterMetadata .pickFields li .shortcut input {
  width: 1em;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 5px;
}

.AddDataset .createDataset .enterMetadata .defineLabels {
  margin-bottom: 40px;
}
.AddDataset .createDataset .enterMetadata .defineLabels input.name {
  width: 150px;
  margin: 0 20px 0 10px;
}
.AddDataset .createDataset .enterMetadata .defineLabels input.shortcut {
  width: 30px;
  margin: 0 20px 0 10px;
  text-align: center;
  text-transform: uppercase;
}
.AddDataset .createDataset .enterMetadata .defineLabels .addLabel {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 0;
  display: inline-block;
  padding-right: 10px;
}
.AddDataset .createDataset .enterMetadata .defineLabels .addLabel .icon {
  margin-right: 10px;
  vertical-align: -6px;
}
.AddDataset .createDataset .enterMetadata .defineLabels .addLabel:hover {
  color: #fff;
}
.AddDataset .createDataset .enterMetadata .defineLabels .addLabel:hover .icon {
  background: #fff;
}
.AddDataset .createDataset .enterMetadata .defineLabels .iconDelete {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  vertical-align: -8px;
}
.AddDataset .createDataset .enterMetadata .defineLabels .iconDelete:hover {
  background-color: #fff;
}

.AddDataset .createDataset .enterMetadata .numUserLabels {
  margin: 0 0 40px 40px;
  font-size: 22px;
  padding: 4px 6px;
  width: 45px;
}

.AddDataset .createDataset .enterMetadata .multipleLabels {
  margin: 0 0 40px 40px;
  font-size: 22px;
  width: 45px;
}
.AddDataset .createDataset .enterMetadata .multipleLabels .clickArea {
  cursor: pointer;
}
.AddDataset .createDataset .enterMetadata .multipleLabels .icon {
  mask-size: 48px;
  width: 48px;
  height: 20px;
}
.AddDataset .createDataset .enterMetadata .multipleLabels .iconToggleOn {
  mask-image: url(../images/toggle_on.svg);
  background: #fff;
}
.AddDataset .createDataset .enterMetadata .multipleLabels .iconToggleOff {
  mask-image: url(../images/toggle_off.svg);
}