.AddDataset {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}

.AddDataset .startAction {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: -20px;
  padding: 20px;
}
.AddDataset .startAction:hover .addText {
  color: rgba(255, 255, 255, 1);
}
.AddDataset .startAction:hover .icon {
  background-color: rgba(255, 255, 255, 1);
}
.AddDataset .startAction .addText {
  color: rgba(255, 255, 255, 0.5);
}
.AddDataset .startAction > div {
  margin: 0 10px;
}

.AddDataset .iconAdd {
  mask-image: url(../images/add_circle_outline.svg);
}
.AddDataset .iconUpload {
  mask-image: url(../images/cloud_upload.svg);
  margin-bottom: 10px;
}
.AddDataset .iconClose {
  mask-image: url(../images/close.svg);
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
}
.AddDataset .iconClose:hover {
  background: rgba(255, 255, 255, 1);
}
.AddDataset .iconCheck {
  mask-image: url(../images/check_box_outline_blank.svg);
  background: rgba(255, 255, 255, 0.2);
  vertical-align: -6px;
  margin-right: 10px;
}

.AddDataset .createDataset {
  position: relative;
}
.AddDataset .createDataset > div {
  position: relative;
  padding-top: 1px;
}
.AddDataset .createDataset .dropzone {
  background: rgba(255, 255, 255, 0.05);
  text-align: center;
  padding: 60px;
  border: 2px dashed rgba(255, 255, 255, 0.2);
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}
.AddDataset .createDataset .dropzone:hover {
  color: #fff;
}
.AddDataset .createDataset .dropzone:hover .icon {
  background-color: #fff;
}
.AddDataset .createDataset .pickFields li {
  list-style: none;
  cursor: pointer;
}
.AddDataset .createDataset .pickFields li .example {
  font-size: 10px;
  color: rgba(255,255,255,0.5);
  margin-left: 10px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: -3px;
}

.AddDataset .createDataset .pickFields li:hover .icon {
  background-color: #fff;
}
