.App {
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-logo {
  height: 75px;
  margin: 40px 0 0 40px;
}

.App-content {
  align-items: center;
  justify-content: center;
  color: white;
  padding: 40px;
  flex: 1;
}

.App-link {
  color: #61dafb;
}
