.App {
  font-size: 16px;
}

.App-logo {
  height: 75px;
  margin: 40px 0 0 40px;
}

.App-content {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  width: 750px;
  margin: 80px auto;
}

.App-link {
  color: #61dafb;
}