.Dataset {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  display: flex;
  margin-bottom: 40px;
}
.Dataset > div {
  margin: 0 10px;
}

.Dataset .donut {
  width: 64px;
  height: 64px;
  float: left;
  margin: 0;
}

.Dataset .title {
  width: 200px;
  float: left;
  text-align: left;
  margin-left: 20px;
}
.Dataset .title .name {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.Dataset .title .createdBy {
  font-size: 10px;
  line-height: 1.4;
  color: rgba(255,255,255,0.5);
}

.Dataset .numDatapoints, .Dataset .numUserLabels {
  flex-grow: 1;
}

.Dataset .numberLarge {
  font-size: 22px;
  margin: 10px 0 4px 0;
  text-align: center;
}
.Dataset .description {
  font-size: 10px;
  line-height: 1.4;
  color: rgba(255,255,255,0.5);
  text-align: center;
}

.Dataset .controls {
  flex-shrink: 0;
  margin: -5px -5px 0 0;
}
.Dataset .controls .icon {
  margin-left: 20px;
  cursor: pointer;
}
.Dataset .icon {
  background: rgba(255, 255, 255, 0.5);
}
.Dataset .icon:hover {
  background: rgba(255, 255, 255, 1);
}
.Dataset .iconEdit {
  mask-image: url(../images/edit.svg);
}
.Dataset .iconDownload {
  mask-image: url(../images/cloud_download.svg);
}
.Dataset .iconLabel {
  mask-image: url(../images/local_offer.svg);
}
