.Login {
  width: 340px;
  margin: 0 auto;
}

.Login ul {
  margin: 0;
  padding: 30px;
  list-style: none;
  background: rgba(255, 255, 255, 0.05);
}

.Login li {
  margin-bottom: 10px 
}

.Login label {
  width: 100px;
  display: inline-block;
  text-align: left;
}
.Login input {
  width: 170px;
}

.Login .Submit {
  margin: 20px 0 0;
  text-align: right;
}


.LoginSpinner {
  text-align: center;
}